<ng-container *ngIf="(pageState$ | async) as pageState">
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <div class="container border my-3 rounded" style="height: 100hv;">
    <div class="container">
      <h1 class="text-center">Expedition: <i> {{ pageState.table.name }} </i></h1>
      <div class="row">
        <ng-container *ngIf="pageState.tableState === DataState.LOADED_STATE">
          <div class="col-6">
            <p><strong>Name:</strong> {{ pageState.table.name }}</p>
            <p><strong>Capacity:</strong> {{ pageState.table.capacity }}</p>
            <p><strong>Created At: </strong> {{ pageState.table.createdAt }}</p>
            <p><strong>Type: </strong>
              <span [ngClass]="pageState.table.tableType === 'VIP' ? 'text-bg-warning' : 'text-bg-info'"
                    class="badge">
                                {{ pageState.table.tableType }} </span>
            </p>
            <p (click)="onHallClick()" [ngClass]="pageState.table.hallId ? 'cursor-pointer' : null"
               class="card-text cursor-pointer"><strong>Camp: </strong><span
              [ngClass]="pageState.table.hallId ? 'text-bg-success' : 'text-bg-danger'"
              class="badge">
                                {{ pageState.table.hallId ? 'present' : 'absent' }} </span>
            </p>
            <p (click)="onOrderClick()" class="card-text cursor-pointer"><strong>Equipment: </strong><span
              [ngClass]="pageState.table.orderId ? 'text-bg-success' : 'text-bg-danger'"
              class="badge">
                                {{ pageState.table.orderId ? 'present' : 'absent' }} </span>
            </p>
            <p><strong>Status: </strong> <span [ngClass]="pageState.table.active ? 'text-bg-success' : 'text-bg-danger'"
                                               class="badge">
                                {{ pageState.table.active ? 'active' : 'inactive' }} </span></p>
            <div class="mb-3">
              <button (click)="onActivate()"
                      class="btn btn-success me-3 w-25 border-1 border-dark">Activate
              </button>
              <button (click)="onDeactivate()"
                      class="btn btn-warning me-3 w-25 border-1 border-dark">Deactivate
              </button>
            </div>
            <div class="mb-3">
              <button (click)="onShowTableModal()"
                      class="btn btn-primary me-3 w-25 border-1 border-dark">Update
              </button>
              <button (click)="deletePopUp()"
                      class="btn btn-danger me-3 w-25 border-1 border-dark">Delete
              </button>
            </div>
            <div class="mb-3">
              <button (click)="onCreateOrder()"
                      class="btn btn-primary me-3 w-25 border-1 border-dark">Create equipment
              </button>
            </div>
            <div>
              <button (click)="onShowWaiterModal()"
                      class="btn btn-primary me-3 w-25 border-1 border-dark">Add Guide
              </button>
              <button (click)="onRemoveWaiterModal()"
                      class="btn btn-primary me-3 w-25 border-1 border-dark">Remove Guide
              </button>
              <button (click)="onRemoveWaiters()"
                      class="btn btn-danger me-3 w-25 border-1 border-dark">Remove all
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="container my-3">
      <ng-container *ngIf="pageState.usersState === DataState.LOADING_STATE">
        <div class="d-flex justify-content-center align-items-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-container>
      <ng-container *ngIf="pageState.usersState === DataState.LOADED_STATE && pageState.waiters.length !== 0">
        <h2 class="text-center">Expedition Guides</h2>
        <div class="row row-cols-2 row-cols-md-3 g-4">

          <ng-container *ngFor="let waiter of pageState.waiters">
            <div class="col-4">
              <app-user-card (onClick)="userRoute($event)" [user]="waiter">
              </app-user-card>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<!--table modal -->
<ng-container *ngIf="showTableModal">
  <app-modal (closeModel)="onCloseTableModal()" [closeOnClick]="false" [showModal]="showTableModal">
    <ng-container *ngIf="(updateTableState$ | async) as utState">
      <ng-container *ngIf="utState.dataState === DataState.LOADING_STATE">
        <div class="d-flex justify-content-center align-items-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-container>
      <p-message *ngIf="utState.dataState === DataState.ERROR_STATE" [text]="utState.message" severity="error"
                 styleClass="mb-2 w-full"></p-message>
      <form *ngIf="utState.dataState !== DataState.LOADING_STATE">
        <div class="mb-3">
          <label class="form-label" for="name">Name</label>
          <input [(ngModel)]="updateTableRequest.name"
                 [ngClass]="utState.invalid && utState.violations.name? 'is-invalid' : null"
                 class="form-control" name="name" type="text">
          <div *ngIf="utState.invalid && utState.violations.name">
            <div class="text-red-500">
              {{ utState.violations.name }}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="capacity">Capacity</label>
          <input [(ngModel)]="updateTableRequest.capacity"
                 [ngClass]="utState.invalid && utState.violations.capacity? 'is-invalid' : null"
                 [ngClass]="" class="form-control" name="capacity" type="number">
          <div *ngIf="utState.invalid && utState.violations.capacity">
            <div class="text-red-500">
              {{ utState.violations.capacity }}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="tableType">Expedition Type</label>
          <select [(ngModel)]="updateTableRequest.tableType"
                  [ngClass]="utState.invalid && utState.violations.tableType? 'is-invalid' : null" class="form-control"
                  name="tableType">
            <option [selected]="true" value="COMMON">Common</option>
            <option value="VIP">VIP</option>
          </select>
          <div *ngIf="utState.invalid && utState.violations.tableType">
            <div class="text-red-500">
              {{ utState.violations.tableType }}
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="hallId">Camp</label>
          <select [(ngModel)]="updateTableRequest.hallId" class="form-control" name="hallId">
            <ng-container *ngFor="let hall of halls">
              <option [selected]="hall.id === updateTableRequest.hallId" [value]="hall.id"> {{
                  hall.name
                }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label" for="password">Password</label>
          <input [(ngModel)]="updateTableRequest.password"
                 [ngClass]="utState.invalid && utState.violations.password? 'is-invalid' : null" class="form-control"
                 name="password" placeholder="If you don't want  to change this value leave it empty!"
                 type="password">
          <div *ngIf="utState.invalid && utState.violations.password">
            <div class="text-red-500">
              {{ utState.violations.password }}
            </div>
          </div>
        </div>
      </form>
      <button (click)="onCloseTableModal()" class="btn btn-secondary me-2 w-25" type="button">Close</button>
      <button (click)="onUpdate()" [disabled]="utState.dataState === DataState.LOADING_STATE"
              class="btn btn-primary w-25" type="button">Update expedition
      </button>
    </ng-container>
  </app-modal>
</ng-container>
<!--waiter modal-->
<ng-container *ngIf="showWaiterModal">
  <app-modal (closeModel)="onCloseWaiterModal()" [closeOnClick]="false" [showModal]="showWaiterModal">
    <ng-container *ngIf="(addWaiterState$ | async) as awState">
      <ng-container *ngIf="awState.dataState === DataState.LOADING_STATE">
        <div class="d-flex justify-content-center align-items-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-container>
      <p-message *ngIf="awState.dataState === DataState.ERROR_STATE" [text]="awState.message" severity="error"
                 styleClass="mb-2 w-full"></p-message>
      <form *ngIf="awState.dataState !== DataState.LOADING_STATE">
        <div class="mb-3">
          <label class="form-label" for="waiterId">Guide</label>
          <select [(ngModel)]="addWaiterRequest.waiterId" class="form-control" name="waiterId">
            <ng-container *ngFor="let waiter of waiters">
              <option [selected]="waiter.id === addWaiterRequest.waiterId" [value]="waiter.id">
                {{ waiter.lastName + ' ' + waiter.firstName + ' - ' + waiter.username }}
              </option>
            </ng-container>
          </select>
        </div>
      </form>
      <button (click)="onCloseWaiterModal()" class="btn btn-secondary me-2 w-25" type="button">Close</button>
      <button (click)="onAddWaiter()" [disabled]="awState.dataState === DataState.LOADING_STATE"
              class="btn btn-primary w-25" type="button">Add Guide
      </button>
    </ng-container>
  </app-modal>
</ng-container>
<!--remove modal-->
<ng-container *ngIf="removeWaiterModal">
  <app-modal (closeModel)="onCloseRemoveModal()" [closeOnClick]="false" [showModal]="removeWaiterModal">
    <ng-container *ngIf="(removeWaiterState$ | async) as rwState">
      <ng-container *ngIf="rwState.dataState === DataState.LOADING_STATE">
        <div class="d-flex justify-content-center align-items-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </ng-container>
      <p-message *ngIf="rwState.dataState === DataState.ERROR_STATE" [text]="rwState.message" severity="error"
                 styleClass="mb-2 w-full"></p-message>
      <form *ngIf="rwState.dataState !== DataState.LOADING_STATE">
        <div class="mb-3">
          <label class="form-label" for="waiterId">Guide</label>
          <select [(ngModel)]="removeWaiterRequest.waiterId" class="form-control" name="waiterId">
            <ng-container *ngFor="let waiter of waiters">
              <option [selected]="waiter.id === removeWaiterRequest.waiterId" [value]="waiter.id">
                {{ waiter.lastName + ' ' + waiter.firstName + ' - ' + waiter.username }}
              </option>
            </ng-container>
          </select>
        </div>
      </form>
      <button (click)="onCloseRemoveModal()" class="btn btn-secondary me-2 w-25" type="button">Close</button>
      <button (click)="onRemoveWaiter()" [disabled]="rwState.dataState === DataState.LOADING_STATE"
              class="btn btn-primary w-25" type="button">Remove Guide
      </button>
    </ng-container>
  </app-modal>
</ng-container>
