<div class="container-fluid">
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <ng-container *ngIf="(pageState$ | async) as pageState">
    <div class="row" style="height: 850px">
      <div class="col-2 bg-light border-end border-dark border-opacity-50" style="height: 100hv;">
        <h4 class="text-center my-3">Camp</h4>
        <ul class="nav flex-column mb-4">
          <select #camps (change)="onSelectChange(camps.value)" class="form-select custom-select border-dark">
            <ng-container *ngIf="pageState.hallsState === DataState.LOADING_STATE">
              <option></option>
            </ng-container>
            <ng-container *ngIf="pageState.hallsState === DataState.LOADED_STATE">
              <ng-container *ngFor="let hall of pageState.halls">
                <option [selected]="(hallIdStatus$ | async) !== '' && (hallIdStatus$ | async) === hall.id ? true : null"
                        [value]="hall.id">
                  {{ hall.name }}
                </option>
              </ng-container>
            </ng-container>
          </select>
        </ul>
        <div class="d-grid">
          <button (click)="onShowTableModal()" class="btn btn-primary mb-3 border-1 border-dark">Create
            Expedition
          </button>
        </div>
        <div class="d-grid">
          <button (click)="onShowHallModal()" class="btn btn-primary mb-3 border-1 border-dark">Create
            Camp
          </button>
        </div>
        <ng-container *ngIf="pageState.hallsState === DataState.LOADED_STATE">
          <div class="d-grid">
            <button (click)="onSelectedHallClick()"
                    [disabled]="(hallIdStatus$ | async) === '' ? 'true' : null"
                    class="btn btn btn-secondary mb-3 border-1 border-dark">Selected Camp
            </button>
          </div>
        </ng-container>
      </div>
      <div class="col mt-3">
        <div class="row row-cols-2 row-cols-md-3 g-4">
          <ng-container *ngIf="pageState.tablesState !== DataState.LOADED_STATE">
            <div class="d-flex justify-content-center align-items-center">
              <p-progressSpinner></p-progressSpinner>
            </div>
          </ng-container>
          <ng-container *ngIf="pageState.tablesState === DataState.LOADED_STATE">
            <ng-container *ngFor="let table of pageState.tables">
              <div class="col-4">
                <app-expedition-card [table]="table"></app-expedition-card>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <!--table modal -->
  <ng-container *ngIf="showTableModal">
    <app-modal (closeTableModel)="onCloseTableModal()" [closeOnClick]="false" [showModal]="showTableModal">
      <ng-container *ngIf="(createTableState$ | async) as ctState">
        <ng-container *ngIf="ctState.dataState === DataState.LOADING_STATE">
          <div class="d-flex justify-content-center align-items-center">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </ng-container>
        <p-message *ngIf="ctState.dataState === DataState.ERROR_STATE" [text]="ctState.message" severity="error"
                   styleClass="mb-2 w-full"></p-message>
        <form *ngIf="ctState.dataState !== DataState.LOADING_STATE">
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input [(ngModel)]="createTableRequest.name"
                   [ngClass]="ctState.invalid && ctState.violations.name? 'is-invalid' : null"
                   class="form-control" name="name" type="text">
            <div *ngIf="ctState.invalid && ctState.violations.name">
              <div class="text-red-500">
                {{ ctState.violations.name }}
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="capacity">Capacity</label>
            <input [(ngModel)]="createTableRequest.capacity"
                   [ngClass]="ctState.invalid && ctState.violations.capacity? 'is-invalid' : null" [ngClass]=""
                   class="form-control" name="capacity"
                   type="number">
            <div *ngIf="ctState.invalid && ctState.violations.capacity">
              <div class="text-red-500">
                {{ ctState.violations.capacity }}
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="tableType">Expedition Type</label>
            <select [(ngModel)]="createTableRequest.tableType"
                    [ngClass]="ctState.invalid && ctState.violations.tableType? 'is-invalid' : null"
                    class="form-control" name="tableType">
              <option [selected]="true" value="COMMON">Common</option>
              <option value="VIP">VIP</option>
            </select>
            <div *ngIf="ctState.invalid && ctState.violations.tableType">
              <div class="text-red-500">
                {{ ctState.violations.tableType }}
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input [(ngModel)]="createTableRequest.password"
                   [ngClass]="ctState.invalid && ctState.violations.password? 'is-invalid' : null" class="form-control"
                   name="password"
                   type="password">
            <div *ngIf="ctState.invalid && ctState.violations.password">
              <div class="text-red-500">
                {{ ctState.violations.password }}
              </div>
            </div>
          </div>
        </form>
        <button (click)="onCloseTableModal()" class="btn btn-secondary me-2 w-25" type="button">Close</button>
        <button (click)="createTable()" [disabled]="ctState.dataState === DataState.LOADING_STATE"
                class="btn btn-primary w-25" type="button">Create Expedition
        </button>
      </ng-container>
    </app-modal>
  </ng-container>
  <!--hall modal -->
  <ng-container *ngIf="showHallModal">
    <app-modal (closeModel)="onCloseHallModal()" [closeOnClick]="false" [showModal]="showHallModal">
      <ng-container *ngIf="(createHallState$ | async) as chState">
        <ng-container *ngIf="chState.dataState === DataState.LOADING_STATE">
          <div class="d-flex justify-content-center align-items-center">
            <p-progressSpinner></p-progressSpinner>
          </div>
        </ng-container>
        <p-message *ngIf="chState.dataState === DataState.ERROR_STATE" [text]="chState.message" severity="error"
                   styleClass="mb-2 w-full"></p-message>
        <form *ngIf="chState.dataState !== DataState.LOADING_STATE">
          <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input [(ngModel)]="createHallRequest.name"
                   [ngClass]="chState.invalid && chState.violations.name? 'is-invalid' : null"
                   class="form-control" name="name" type="text">
            <div *ngIf="chState.invalid && chState.violations.name">
              <div class="text-red-500">
                {{ chState.violations.name }}
              </div>
            </div>
          </div>
        </form>
        <button (click)="onCloseHallModal()" class="btn btn-secondary me-2 w-25" type="button">Close</button>
        <button (click)="createHall()" [disabled]="chState.dataState === DataState.LOADING_STATE"
                class="btn btn-primary w-25" type="button">Create Camp
        </button>
      </ng-container>
    </app-modal>
  </ng-container>
</div>
