<div class="container-fluid mt-3">
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <p-tabView>
    <p-tabPanel header="Discounts">
      <app-guests [isAdmin]="true"></app-guests>
    </p-tabPanel>
    <p-tabPanel header="Gears">
      <app-gears [isAdmin]="true"></app-gears>
    </p-tabPanel>
    <p-tabPanel header="Equimpents">
      <app-equipments [isAdmin]="true"></app-equipments>
    </p-tabPanel>
    <p-tabPanel header="Logs">
      <app-logs [isAdmin]="true"></app-logs>
    </p-tabPanel>
    <p-tabPanel header="Users">
      <app-users [isAdmin]="true"></app-users>
    </p-tabPanel>
    <p-tabPanel header="Camps" style="padding: 0;">
      <app-equipments [isAdmin]="true" class="mt-0"></app-equipments>
    </p-tabPanel>
    <p-tabPanel header="Expeditions">
      <app-admin-equipments class="mt-0"></app-admin-equipments>
    </p-tabPanel>
    <p-tabPanel header="Categories">
      <app-categories class="mt-0"></app-categories>
    </p-tabPanel>
  </p-tabView>
</div>
